<!DOCTYPE html>
<html>
<head>

    @if (@ViewBag.MetaDescription == null) 
    { 
    <meta name="description" content="Независимый кросс-платформенный интерпретатор языка 1С."/>
    }
    else
    {
    <meta name="description" content="@ViewBag.MetaDescription" />
    }

    <title>@ViewBag.Title</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/theme/css/bootstrap.css">
    <link rel="stylesheet" href="/theme/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Стили -->
    <link rel="stylesheet" href="/theme/theme.css"> 
    @RenderSection("PageStylesheet", false)

</head>
<body>
    <div id="wrap">

        <!-- Шапка -->
        @await Component.InvokeAsync("ШапкаСтраницы", new {model = Model})

        <!-- Хлебные крошки -->        
        @if (@ViewBag.Url != "index") {
            <div class="container row-breadcrumb">
                @await Component.InvokeAsync("ХлебныеКрошки", new {model = Model})
            </div>
        }
        
        <!-- Контент -->
        <div class="content custom-content">
            @RenderBody()
        </div>

        <!-- Подвал -->
        @await Component.InvokeAsync("ПодвалСтраницы", new {model = Model})

    </div>

    <!-- Скрипты -->
    <script src="/theme/js/jquery-3.4.0.min.js"></script>
    <script src="/theme/js/popper.min.js"></script>
    <script src="/theme/js/bootstrap.min.js"></script>

    <!-- Яндекс метрика -->
    @await Component.InvokeAsync("ЯндексМетрика") 

</body>
</html>